/* Message Box */

.message-box {
    -fx-padding: 5 10 5 10;
    -fx-spacing: 10;
    -fx-max-width: Infinity;
}


/* Message Text */

.message-text {
    -fx-font-size: 13px;
    -fx-effect: dropshadow(
        three-pass-box,
        rgba(0, 0, 0, 0.1),
        2,
        0,
        0,
        1
    );
}


/* User Message */

.user-message {
    -fx-alignment: CENTER_RIGHT;
}

.user-message .message-text {
    -fx-background-color: #DCF8C6;
    -fx-background-radius: 15px;
}


/* Jarvis Message */

.jarvis-message {
    -fx-alignment: CENTER_LEFT;
}

.jarvis-message .message-text {
    -fx-background-color: #E8E8E8;
    -fx-background-radius: 15px;
}
